# microgrid_control/.gitignore

# Virtual environment
venv/
.venv/
.env

# Byte-compiled / optimized files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store

# PyInstaller files
dist/
build/


